.DS_Store
*.vscode/settings.json

client/build/node_modules
client/build/dist
client/build/build
client/build/.DS_Store
client/build/.env
client/build/.vscode
client/build/.env.development
client/build/.env.production
client/build/*.log
client/build/*.log.*
client/build/logs/
client/build/*.vscode/settings.json

Backend/node_modules
Backend/dist
Backend/build
Backend/.DS_Store
Backend/.env
Backend/.vscode
Backend/.env.development
Backend/.env.production
Backend/*.log
Backend/*.log.*
Backend/logs/
Backend/*.vscode/settings.json